aiohttp==3.11.14
anthropic==0.76.0
backoff==2.2.1
beautifulsoup4==4.14.3
cffi==2.0.0
fpdf2==2.8.3
gradio==6.4.0
gradio_client==2.0.3
matplotlib==3.10.8
matplotlib_venn==1.1.2
nltk==3.9.1
numpy==2.4.1
openai==2.15.0
opencv_python==4.11.0.86
pandas==2.3.2
Pillow==12.1.0
pyautogui==0.9.54
pydantic==2.12.5
PyGithub==2.8.1
python-dotenv==1.2.1
regex==2024.11.6
Requests==2.32.5
# sentence_transformers==3.4.1
supervision==0.27.0
# torch==2.8.0
tqdm==4.67.1
# transformers==4.55.2
